{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": [
    "babel-root-import",
    "jsx-control-statements",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-decorators"
  ]
}
