{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "plugins": [
    "jsx-a11y"
  ],
  "globals": {
    "If": true,
    "Else": true,
    "For": true
  },
  "rules": {
    "no-confusing-arrow": 0,
    "no-useless-computed-key": 0,
    "import/no-unresolved": [2, { "ignore": ["\/~*"] }],
    "key-spacing": [0, { "align": "value" }]
  }
}
