{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "globals": {
    "fetch": true,
    "navigator": true,
    "document": true,
    "window": true,
    "If": true,
    "Else": true,
    "For": true
  },
  "rules": {
    "react/forbid-prop-types": 0,
    "no-confusing-arrow": 0,
    "no-useless-computed-key": 0,
    "class-methods-use-this": 0,
    "key-spacing": [0, { "align": "value" }],
    "import/no-unresolved": [2, { "ignore": ["^~/"] }],
    "import/prefer-default-export": 0
  }
}
