/* menu.link.dx.css / MenuLinkDX.jsx */

.divider {
  color: #3A506B;
}

.menuAccount {
  min-width:128px;
  color: #1C2541;
  background: #5BC0BE;
  margin-right: 20px;
  margin-top: 10px;
}

.menuAccount ul li a {
  padding: 10px 5px 10px 15px;
}

.menuAccount ul li a i {
  margin-right: 5px;
}

.menuAccount ul li a:hover {
  background: #6FFFE9;
  color: #1C2541;
}

.menuAccount ul li:first-child a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.menuAccount ul li:last-child a {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.baseBtn {
  cursor: pointer;
  font-weight: 700;
}


.baseInlineBtn {
  padding: 5px 10px;
  margin: 10px 15px 0 0;
  border-radius: 5px;
}

.loginBtn {
  border: 1px solid #5BC0BE;
  color: #5BC0BE;
}

.registerBtn {
  border: 1px solid #FFD98E;
  background: #FFD98E;
  color: #1C2541;
}

.loginBtn:hover,
.registerBtn:hover {
  background: #6FFFE9;
  color: #1C2541;
}
